html{
    scroll-behavior: smooth;
    background-color: #000000;
}

.container{
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}


.header-container{
    background: url(./assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    display: flex; 
    height: 90px;   
}

.header-logo{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    width: 50px;
    height: 50px; 
    background-image: url(./assets/svg/logo.svg); 
    background-size: contain;
    background-repeat: no-repeat;
    transform: .3s; 
    cursor: pointer;   
}

.header-logo:hover{
    filter: invert(15%) sepia(22%) saturate(470%) hue-rotate(5deg) brightness(80%) contrast(87%);    
}

.header-nav{
    margin-left: auto;
}

.header-nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link{
    text-decoration: none;
    padding: 0 15px;
    line-height: 57px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    transition: .3s;
}

.nav-link:hover{
    color: #bdae82;
}

.languages{
display: flex;
justify-content: flex-end;
align-items: center;
margin-right: 20px;
}

.eng{
    padding-left: 17px;
    line-height: 50px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #bdae82;
}

.slash{
    padding: 0 9px;
    line-height: 50px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
}

.rus{
    padding: 0;
    line-height: 50px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
}

.header-two{
    margin-left: 370px;
    text-align: center;
   position: relative;
    width: 700px;
    overflow-x: hidden;
    margin-bottom: 28px;
}

h2{

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 80px;
color: #bdae82;
}

h2::before{
    content: "";    
  position: absolute;
  width: 350px;
  height: 2px;
  top: 50%;
 margin-left: calc(-50% - 20px);
  background-color: #bdae82;    
}

h2::after{
    content: "";    
  position: absolute;
  width: 350px;
  height: 2px;
  top: 50%;
  margin-left: 21px;
  background-color: #bdae82;    
}

.fill-button{
    border: 0;
    width: 220px;
    height: 55px;
    background-color: #bdae82;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}

.fill-button:hover{
    color: #ffffff;
}

/*hero landing*/

.hero-container{
display: flex;
background-image: url(./assets/img/bg.jpg);
background-repeat: no-repeat;
background-position: center -90px;
height: 820px;
margin-bottom: 67px;
}

.hero-section{   
align-items: center;
padding-left: 80px;
width: 500px;
height: 330px;

}

h1{
padding-top: 120px;  
margin-bottom: 0;
font-family: Merriweather;
font-style: 700;
font-weight: bold;
font-size: 60px;
line-height: 120px;
color: #ffffff;
}

.about-hero{    
    padding: 10px 0;
    margin-bottom: 15px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    line-height: 40px;
    width: 470px;
}

p{
    margin: 0;
}

/*skills*/

.skills-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 240px;
    text-align: center;
    margin: 0 20px;
    padding-bottom: 67px;
}

.skill-item{
    width: 320px;
    background-position: center top;  
    background-repeat: no-repeat;
    
}

.skill-item:nth-child(1){
    background-image: url(./assets/svg/camera1.svg);
    background-size: 62px 50px;
}

.skill-item:nth-child(2){
    background-image: url(./assets/svg/video.svg);
    background-size: 62px 50px;
}

.skill-item:nth-child(3){
    background-image: url(./assets/svg/image1.svg);
    background-size: 62px 50px;
}

.skill-item:nth-child(4){
    background-image: url(./assets/svg/mic.svg);
    background-size: 62px 50px;
}

h4{
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    line-height: 40px;
    padding-top: 80px;
}

.skill-about{   
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    line-height: 36px;   
    width: 280px; 
    padding-left: 20px;
}

/*Portfolio*/

.buttons{
    display: flex;
    justify-content: space-between;
    width: 895px;
    height: 55px;
    margin-left: 272px;
    text-align: center; 
    padding-bottom: 60px;  
}

.empty-button{
    border: 2px solid #bdae82;    
    width: 220px;
    height: 55px;
    background-color: transparent;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    color: #bdae82;
    cursor: pointer;
    transition: .3s;    
}

.empty-button:hover{   
    color: #ffffff;
}

.empty-button:nth-child(4){
    background-color: #bdae82;
    color: #000000;
}

.gallery{
    padding-bottom: 66px;
    margin-left: 20px;
    width: 1400px;
  height: 1145px;
  display: flex;
  flex-flow: wrap;
  position: relative;
  column-gap: 25px;
  row-gap: 25px;
}


/*Video*/

.video-player{
    width: 1400px;
    height: 705px;
    margin-left: 20px;
    background-image: url(./assets/img/video-player.jpg);
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 66px;
}

.play-button{
    background-image: url(./assets/svg/play-video.svg);
    position: absolute;
    width: 130px;
    height: 130px;   
    background-repeat: no-repeat;
    transform: .3s; 
    cursor: pointer;  
} 

.play-button:hover{
    filter: invert(15%) sepia(22%) saturate(470%) hue-rotate(5deg) brightness(80%) contrast(87%);    
}

/*Price*/

.price-cards{
    margin-left: 20px;
    width: 1400px;
  height: 505px;
  display: flex;
  flex-flow: row;
  position: relative;
  column-gap: 25px; 
  margin-bottom: 99px;
}

.price-card{
    width: 450px;
    height: 458px;
    border:3px solid #bdae82;
    text-align: center;
    padding-top: 40px;
}

h3{
   margin: 0; 
    font-family: Merriweather;
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 56px;
color: #ffffff;
}

.cost {
    padding-top: 20px;
font-family: Merriweather;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 48px;
color: #bdae82;

}

.description{
    padding-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    color: #ffffff;
    font-family: Inter;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 36px;
}

.desc-span{
    display: block;
}

/*Contacts*/

.container .contacts{
    display: flex;
    height: 700px;
    background-image: url(./assets/img/contacts.jpg);
    background-size: auto 700px;
    background-position: center center;
    justify-content: flex-end;
}

.contacts-board{
    padding-top: 26px;
    width:450px;
    height: 445px;   
    text-align: left;
    margin-right: 20px;
}

.h2-contact{
    margin-bottom: 40px;
}

.h2-contact::before{
    display: none;
}

.h2-contact::after{
    display: none;
}

::placeholder {
  outline: none;    
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #bdae82;    
  }

  :focus::placeholder{
      opacity: 0.5;      
  } 

.email{
    padding-left: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #ffffff;
    background-color: transparent;
    width: 425px;
    height: 43px;
    border: 3px solid #bdae82;
    margin-bottom: 20px;
    outline: none;
}

.message{    
    width: 425px;
    height: 89px;
    padding-left: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #ffffff;
    background-color: transparent;   
    border: 3px solid #bdae82;
    margin-bottom: 20px;
    outline: none;
    resize: none;  
    margin-bottom: 27px;  
}

