:root {
    --color-gold: #bdae82;
    --color-black: #000;
    --color-white: #ffffff;
    --font1: 60px;
    --font2: 40px;
    --font3: 20px;
  }

  @media(max-width: 768px){
      :root{
          --font1: 32px;
          --font2: 20px;
          --font3: 18px;
      }
  }

html{
    scroll-behavior: smooth;
    background-color: var(--color-black);
}

li{
    list-style: none;
}

ul{
    padding: 0;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;     
}


h4{
    padding: 0;
    margin: 0;
}


.header-container{
    background: url(./assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    display: flex; 
    height: 90px;      
}

.header-logo{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    width: 50px;
    height: 50px; 
    background-image: url(./assets/svg/logo.svg); 
    background-size: contain;
    background-repeat: no-repeat;
    transition: .3s; 
    cursor: pointer;   
}

.header-logo:hover{
    filter: invert(15%) sepia(22%) saturate(470%) hue-rotate(5deg) brightness(80%) contrast(87%);    
}

.header-nav{
    margin-left: auto;
}

.header-nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link{
    display: flex;
    text-decoration: none;    
    padding: 0 15px;   
    line-height:57px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: var(--font3);
    color: var(--color-white);
    transition: .3s;
}

.nav-link:hover{
    color: var(--color-gold);
}

.languages{
display: flex;
justify-content: flex-end;
align-items: center;
margin-right: 20px;
}

.eng{
    padding-left: 17px;
    line-height: 50px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: var(--font3);
    color: var(--color-gold);
    cursor: pointer;
}

.slash{
    padding: 0 9px;
    line-height: 50px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: var(--font3);
    color: var(--color-white);
}

.rus{
    padding: 0;
    line-height: 50px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: var(--font3);
    color: var(--color-white);
    cursor: pointer;
}

.header-two{
    margin-left: 370px;
    text-align: center;
   position: relative;
    max-width: 700px;
    overflow-x: hidden;
    margin-bottom: 28px;
}

h2{

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: var(--font2);
line-height: 80px;
color: var(--color-gold);
}

h2::before{
    content: "";    
  position: absolute;
  width: 350px;
  height: 2px;
  top: 50%;
 margin-left: calc(-50% - 20px);
  background-color: var(--color-gold);    
}

h2::after{
    content: "";    
  position: absolute;
  width: 350px;
  height: 2px;
  top: 50%;
  margin-left: 21px;
  background-color: var(--color-gold);    
}

.fill-button{
    border: 0;
    width: 220px;
    height: 55px;
    background-color: var(--color-gold);
    font-family: Inter;
    font-weight: 400;
    font-size: var(--font3);
    cursor: pointer;
    transition: .3s;
}

.fill-button:hover{
    color: var(--color-white);
}

/*hero landing*/

.hero-container{
display: flex;
background-image: url(./assets/img/bg.jpg);
background-repeat: no-repeat;
background-position: center -90px;
min-height: 820px;
margin-bottom: 67px;
}

.hero-section{   
align-items: center;
padding-left: 80px;
max-width: 500px;
height: 330px;

}

h1{
padding-top: 110px;  
margin-bottom: 0;
font-family: Merriweather;
font-style: 700;
font-weight: bold;
font-size: var(--font1);
line-height: 120px;
color: var(--color-white);
}

.about-hero{    
    padding: 10px 0;
    margin-bottom: 15px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: var(--font3);
    color: var(--color-white);
    line-height: 40px;
    max-width: 470px;
}

p{
    margin: 0;
}

/*skills*/

.skills-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 240px;
    text-align: center;
    margin: 0 20px;
    padding-bottom: 67px;
}

.skill-item{
    max-width: 320px;
    background-position: center top;  
    background-repeat: no-repeat;
    
}

.skill-item:nth-child(1){
    background-image: url(./assets/svg/camera1.svg);
    background-size: 62px 50px;
}

.skill-item:nth-child(2){
    background-image: url(./assets/svg/video.svg);
    background-size: 62px 50px;
}

.skill-item:nth-child(3){
    background-image: url(./assets/svg/image1.svg);
    background-size: 62px 50px;
}

.skill-item:nth-child(4){
    background-image: url(./assets/svg/mic.svg);
    background-size: 62px 50px;
}

h4{
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: var(--font3);
    color: var(--color-white);
    line-height: 40px;
    padding-top: 100px;
}

.skill-about{   
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-white);
    line-height: 36px;   
    max-width: 280px; 
    padding-left: 20px;
    padding-top: 20px;
}

/*Portfolio*/

.buttons{
    display: flex;
    justify-content: space-between;
    max-width: 895px;
    height: 55px;
    margin-left: 272px;
    text-align: center; 
    padding-bottom: 60px;  
}

.empty-button{
    border: 2px solid var(--color-gold);    
    width: 220px;
    height: 55px;
    background-color: transparent;
    font-family: Inter;
    font-weight: 400;
    font-size: var(--font3);
    color: var(--color-gold);
    cursor: pointer;
    transition: .3s;    
}

.empty-button:hover{   
    color: var(--color-white);
}

.empty-button:nth-child(4){
    background-color: var(--color-gold);
    color: var(--color-black);
}

.gallery{
    padding-bottom: 66px;
    padding-left: 10px;
    max-width: 1400px;
  min-height: 1145px;
  display: flex;
  flex-flow: wrap;
  position: relative;
  column-gap: 10px;
  row-gap: 25px;
}


/*Video*/

.video-player{
    max-width: 1400px;
    height: 705px;
    margin-left: 20px;
    background-image: url(./assets/img/video-player.jpg);
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 66px;
}

.play-button{
    background-image: url(./assets/svg/play-video.svg);
    position: absolute;
    width: 130px;
    height: 130px;   
    background-repeat: no-repeat;
    transform: .3s; 
    cursor: pointer;  
} 

.play-button:hover{
    filter: invert(15%) sepia(22%) saturate(470%) hue-rotate(5deg) brightness(80%) contrast(87%);    
}

/*Price*/

.price-cards{
    margin-left: 20px;
    max-width: 1400px;
  /* height: 505px; */
  display: flex;
  flex-flow: row;
  position: relative;
  column-gap: 25px; 
  margin-bottom: 99px;
}

.price-card{
    width: 450px;
    height: 458px;
    border:3px solid var(--color-gold);
    text-align: center;
    padding-top: 40px;
}

h3{
   margin: 0; 
    font-family: Merriweather;
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 56px;
color: var(--color-white);
}

.cost {
    padding-top: 20px;
font-family: Merriweather;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 48px;
color: var(--color-gold);

}

.description{
    padding-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    color: var(--color-white);
    font-family: Inter;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 36px;
}

.desc-span{
    display: block;
}

/*Contacts*/

.container .contacts{
    display: flex;
    height: 700px;
    background-image: url(./assets/img/contacts.jpg);
    background-size: auto 700px;
    background-position: center center;
    justify-content: flex-end;
}

.contacts-board{
    padding-top: 26px;
    width:450px;
    height: 445px;   
    text-align: left;
    margin-right: 20px;
}

.h2-contact{
    margin-bottom: 40px;
}

.h2-contact::before{
    display: none;
}

.h2-contact::after{
    display: none;
}

::placeholder {
  outline: none;    
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: var(--font3);
    line-height: 40px;
    color: var(--color-gold);    
  }

  :focus::placeholder{
      opacity: 0.5;      
  } 

.email{
    padding-left: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: var(--font3);
    line-height: 40px;
    color: #ffffff;
    background-color: transparent;
    width: 425px;
    height: 43px;
    border: 3px solid var(--color-gold);
    margin-bottom: 20px;
    outline: none;
}

.message{    
    width: 425px;
    height: 89px;
    padding-left: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: var(--font3);
    line-height: 40px;
    color: var(--color-white);
    background-color: transparent;   
    border: 3px solid var(--color-gold);
    margin-bottom: 20px;
    outline: none;
    resize: none;  
    margin-bottom: 27px;  
}

/*Footer*/

.footer-container{
   
   padding-left: 20px;
   padding-right: 10px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links{
    display: flex;
    font-family: Inter;
font-style: normal;
font-weight: 400;
font-size: var(--font3);
line-height: 50px;
color: var(--color-white);
}

.copyright{
    width: 170px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.github-link{ 
    padding-right: 1px;   
    text-decoration: none;
    font-family: Inter;
font-style: normal;
font-weight: 400;
font-size: var(--font3);
line-height: 50px;
color: var(--color-white);
transition: .3s;
}

.github-link:hover{
    color: var(--color-gold);
}

.rs-link{
    padding-left: 47px;
    text-decoration: none;
    font-family: Inter;
font-style: normal;
font-weight: 400;
font-size: var(--font3);
line-height: 50px;
color: var(--color-white);
transition: .3s;
}

.rs-link:hover{
    color: var(--color-gold);
}


.footer-nav-list {
    padding-left: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 208px;
}

.footer-nav-item{
width: 188px;
background-position: center top;
background-repeat: no-repeat;

}

.social-link{
    
    text-decoration: none;
    width: 32px;
    height: 32px;
    display: block;   
}

.footer-nav-item:nth-child(1){
    background-image: url(./assets/svg/insta.svg);
    background-size: 32px 32px;  
    transition: .3s;
}
.footer-nav-item:nth-child(2){
    background-image: url(./assets/svg/fb.svg);
    background-size: 32px 32px;
    transition: .3s; 
}
.footer-nav-item:nth-child(3){
    background-image: url(./assets/svg/tw.svg);
    background-size: 32px 32px;
    transition: .3s; 
}
.footer-nav-item:nth-child(4){
    background-image: url(./assets/svg/pinterest.svg);
    background-size: 32px 32px;
    transition: .3s; 
}
.footer-nav-item:nth-child(1):hover{    
        filter: invert(15%) sepia(22%) saturate(470%) hue-rotate(5deg) brightness(80%) contrast(87%);       
}
.footer-nav-item:nth-child(2):hover{
    filter: invert(15%) sepia(22%) saturate(470%) hue-rotate(5deg) brightness(80%) contrast(87%);
}
.footer-nav-item:nth-child(3):hover{
    filter: invert(15%) sepia(22%) saturate(470%) hue-rotate(5deg) brightness(80%) contrast(87%); 
}
.footer-nav-item:nth-child(4):hover{
    filter: invert(15%) sepia(22%) saturate(470%) hue-rotate(5deg) brightness(80%) contrast(87%);
}

/*Burger*/
.burger{
    display: none;
    position: relative;
}


@media(max-width: 768px){
    .container{       
        max-width: 768px;
        margin: 0 auto;
        padding: 0 20px;
    }
    h1{        
        line-height: 64px;
        font-style: 400;
        font-weight: 400;        
    }
    h2{
        line-height: 40px;
    }
    
    .header-container{   
        position: relative;     
       overflow-x: hidden;
        background-size: auto 620px;
        background-position: -13px -30px;
         
    }
    .header-nav{        
        background-color: var(--color-black);
        position: absolute;
        max-width: 620px;
        height: 1024px;
        z-index: 100;
        transition: .3s;
    }
    .open{
        /* display: block; */
        right: 0;
    }
    .close{
        right: -630px;
    }

    .header-nav-list{        
        display: block;
        flex-direction: column; 
       padding: 134px 344px 427px 127px;
       margin: 0;
      

    }
    .header-nav-item{
        margin-bottom: 12px;
    }
    .nav-link{
        line-height:73px;     
        font-size: 35px; 
        padding: 0;
         
    }
    .languages{
       margin-left: 450px;
    }
    .burger { 
        top: 20px;       
        display: block;
        width: 50px; 
        height: 50px; 
        z-index: 101;              
    }
    .burger-line{
        display: block;
        width: 50px;
        height: 3px;
        background-color: var(--color-white);
        margin: 10px auto;        
        transition: .3s;
    }
    .burger:hover {
        cursor: pointer;                      
    }
    .burger:hover .burger-line{       
        background-color: var(--color-gold);              
    }
    .burger-cross .burger-line:nth-child(2){
        opacity: 0;
    }
    .burger-cross .burger-line:nth-child(1){
        transform: translateY(13px) rotate(45deg);
    }
    .burger-cross .burger-line:nth-child(3){
        transform: translateY(-13px) rotate(-45deg);
    }


    .hero-container{         
        height: 590px;
        background-position: -13px -120px;
        background-size: auto 620px;       
    }
    
    .about-hero{
        line-height: 24px;
        max-width: 390px
    }
}        