
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

html{
    height: 100%;
    scroll-behavior: smooth;
    background-color: #000000;
    color: #ffffff;
}

header{    
    flex: 0 0 auto;
 }
 main{    
    flex: 1 0 auto;
 }
 footer{   
    flex: 0 0 auto;
 }

li{
    list-style: none;
}

ul{
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

p {
    padding: 0;
    margin: 0;
}
 

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.change-language {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;  
    align-items: center;  
}

.joke-language{
    margin-right: 15px;
}

.languages{
    display: flex;
    justify-content: space-around;    
    align-items: center;
    margin-right: 20px;
    }

    .lang{
        padding-left: 0px;
        line-height: 50px;
        font-family: Inter;
        font-style: normal;
        font-weight: 700;       
        color: #ffffff;
        cursor: pointer;
    }
    
    .lang-active{
        color: yellow;
    }
    
    .slash{
        padding: 4px 8px 0px 8px;
        line-height: 50px;
        font-family: Inter;
        font-style: normal;
        font-weight: 700;        
        color:#ffffff
    }    
   
    
.joke-container{
    display: flex;
    flex-wrap: wrap;   
}

.jokes {  
    width: 1440px;     
    align-items: center;
    justify-content: center;
    padding-top: 300px;
}



.change-joke{  
    height: 40px;  
    margin-bottom: 25px;
    margin-left: 43%;
    border: none;
    border-radius: 2%;
    font-size: 20px;
    background-color: blueviolet;
    transition: .3s;
    opacity: 0.6;
    cursor: pointer;
}

.change-joke:hover{
    color: #ffffff;
    opacity: 1;
    
}

.random-joke{       
    font-size: 30px;   
}

.text{
    padding: 15px 20px;
    display: flex;
    max-width: 1280px;
}


.author{   
    display: flex;
    margin-left: 80%;
    padding: 15px 0;
}

.footer-container {
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-between;
}

.copuright {
    display: inline;
    flex-wrap: wrap;
    justify-content: space-between;
}

.year-span {
    padding-left: 10px;
}